.the-everything-container {
  display: flex;
  justify-content: space-around;
  /* background-color: #283033; */
  margin-top: 6%;

}

.form {
display: flex;
flex-direction: column;
padding: 25px;
background-color: #283033;
width: 50%;
align-items: center;
border-radius: 8px;
}
fieldset {
  width: 60%
}
.section2 {
  display: flex;
  justify-content: space-around;
  
}
.section4 {
  display: flex;
}
.addressinput{
  margin: 10px;
}
.formbutton{
  width: 15%;
}
.section1{
display: flex;
width: 100%;
}
.categoryselect{
  width: 10%;
  
   

}
.section5{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*
.inputForm {
  opacity: .8;
  width: 6600px;
}
.dropzoneForm {
height: fit-content;

}
.categoryselect {
  width: 140px;
}

.inputForm {
  width: fit-content;
}

.radio-button {
  width: 200px;
  margin: 25px;
}

.where {

  flex-wrap: wrap;
  padding: 0 50px 50px 10px;

}
.descrip {
  padding: 0 50px 50px 10px;
  width: 350px;

}
.title {
  width: 350px;
}
.address{
  width: 350px;
}

.dropzone {
  
} */