@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

.the-everything-container {
  display: flex;
  justify-content: space-around;
  /* background-color: #283033; */
  margin-top: 20px;

}

.form {
display: flex;
flex-direction: column;
padding: 25px;
background-color: rgba(40, 48, 51,0.95);
width: 50%;
align-items: center;
border-radius: 8px;
}
fieldset {
  width: 60%
}
.section2 {
  display: flex;
  justify-content: space-around;
}
.section4 {
  display: flex;
}
.section3 {
  margin-top:15px;
}
.addressinput{
  margin: 10px;
}
.formbutton{
  width: 15%;
}
.section1{
display: flex;
width: 100%;
}
.categoryselect{
  width: 10%;
}
#selector-cat{
  width: 100px;
}

.section5{
  width: 100%;
  display: flex;
  justify-content: center;
}
.dropzone{
  display: flex;
  align-items: center;
}

#header{
  font-family: 'East Sea Dokdo', cursive;
  font-size:80px;
}

#title{
  width:35vw;
}

/*
.inputForm {
  opacity: .8;
  width: 6600px;
}
.dropzoneForm {
height: fit-content;

}
.categoryselect {
  width: 140px;
}

.inputForm {
  width: fit-content;
}

.radio-button {
  width: 200px;
  margin: 25px;
}

.where {

  flex-wrap: wrap;
  padding: 0 50px 50px 10px;

}
.descrip {
  padding: 0 50px 50px 10px;
  width: 350px;

}
.title {
  width: 350px;
}
.address{
  width: 350px;
}

.dropzone {
  
} */