@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

.app {
  background-image:url('http://urly.fi/1cR6'); 
  background-size:100vw 100vh; 
  background-attachment:fixed; 
  min-height: 100vh;
  /* background-repeat: no-repeat */
}
